.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom color (replace with your desired value) */
.bg-primary {
  background-color:aqua; /* Replace with actual color */
}

/* Container styles */
#home {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background Image Styles */
.bg-fixed {
  position: absolute;
  top: 18px; /* Adjust to your needs */
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Video Styles */
#home video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Background Overlay */

.top{
  height: 50px;
  align-items: end;
  padding-left:70%;
  padding-top: 15px;

}
.top select{
  width: 150px;
  height: 40px;
}
select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fbfafa;
  background-color: #f0f0f0;
  color: #333;
  outline: none;
  appearance: none; /* Gukura default arrow ya browser */
  cursor: pointer;
}
select::after {
  content: '▼'; /* Nkoresha arrow nkoresheje icon cyangwa karakter */
  font-size: 12px;
  color: #333;
  right: 10px;
}
option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}


select:focus {
  border-color: #666;}

option:hover {
  background-color: #ddd;
  color: #000;
}
.top button{
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fbfafa;
  background-color: #f0f0f0;
}

.Menu{
  height: 70px;
  display: flex ;
  justify-content: space-between;
}
.Menu a img{
  width:100px;
  height: 60px;
  padding-left: 30px;
}
.min-menu a{
text-decoration: none;
padding-left: 10px;
color: #000;
padding-right: 40px;
}

.button1 a img{
  width: 99%;
  padding-top: 30px;
}
.min-menu #Eezy{
  background-color: rgb(121, 13, 13) ;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 20px;
  height: 30%;
  width: 70px;
}
